@page "/"

<PageTitle>Cloud Contacts | Home</PageTitle>

<div class="d-flex h-100 align-items-center">
    <div>
        <div class="row">
            <div class="col-12 col-lg-6">
                <h1 class="text-end">Cloud Contacts</h1>
                <hr />
                <p class="m-3 fs-3">Cloud Contacts is your contact backup you can trust</p>
                <p class="m-3 fs-5">
                    Need to keep track of old employeer info? Cant remember the email of that one business connection you now need?
                 </p>
                 <p class="m-3 fs-5">
                    We are here to help with Cloud Contacts! Add your contacts and never forget again. 
                </p>
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-12">
                        <div class="text-md-center text-lg-start text-start mx-3">
                            <div class="hstack gap-2 justify-content-md-end justify-content-lg-start ">
                                @*.NET Core*@
                                <i class="devicon-dotnetcore-plain colored display-1"></i>
                                @*Blazor*@
                                <i class="devicon-blazor-original colored display-1"></i>
                                @*C#*@
                                <img height="75" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/csharp/csharp-original.svg" />
                                @*Postgres*@
                                <img height="75" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/postgresql/postgresql-original-wordmark.svg" />
                                @*BootStrap*@
                                <i class="devicon-bootstrap-plain colored devicons display-1"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-6 vstack justify-content-center ">
                <div class="">
                    <img src="/img/CloudContacts_Home_Page_1.svg"/>
                    <div class="text-center">
                        <a href="https://storyset.com/online" class="text-decoration-none text-end">Online illustrations by Storyset</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center m-3">
            <a class="btn btn-lg rounded-pill btn-primary" href="/contacts" >Get Started</a>
        </div>
    </div>
</div>