@page "/contacts/edit/{id:int}"
@using Microsoft.AspNetCore.Authorization

@rendermode InteractiveAuto
@attribute [Authorize]

@inject NavigationManager Nav
@inject IContactDTOService ContactService

@if (contact is not null)
{

    <PageTitle>Cloud Contacts | @(string.IsNullOrEmpty(contact?.FullName) ? "Edit Contact" : contact.FullName)</PageTitle>

    <div class="p-3 my-5 border-2 shadow-lg bg-light">
        <ContactForm Contact="contact"
                     OnSubmit="HandleSubmit" />

    </div>

}
else
{
    <div class="text-center">
        <h3>Uh oh!</h3>
        <p>No Contact exists with that information</p>
    </div>
}

@code {
    #region  parameter
    //From Page Route
    [Parameter]
    public int Id { get; set; }

    private ContactDTO? contact;
    string errorMessage = string.Empty;

    private UserInfo? userInfo;

    [CascadingParameter]
    private Task<AuthenticationState>? AuthStateTask { get; set; }
    #endregion


    #region  state
    #endregion



    #region  methods
    protected override async Task OnInitializedAsync()
    {
        try
        {
            //get user info
            userInfo = await UserInfoHelper.GetUserInfoAsync(AuthStateTask);

            //get the contact info by id from database
            contact = await ContactService.GetContactByIdAsync(Id, userInfo!.UserId);
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
            contact = null;
        }

        if (contact is null)
        {
            Nav.NavigateTo("/contacts");
        }
    }

    private async Task HandleSubmit()
    {
        try
        {
            errorMessage = string.Empty;

            if (contact is not null)
            {
                await ContactService.UpdateContactAsync(contact, userInfo!.UserId);
            }

        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);

            errorMessage = "An error occurred while trying to update this contact";
        }

        if (errorMessage == string.Empty)
        {
            Nav.NavigateTo("/contacts");
        }
    }
    #endregion
}
