@page "/contacts"
@attribute [Authorize]

@inject IContactDTOService ContactService
@rendermode InteractiveServer

<PageTitle>Cloud Contacts | Contacts</PageTitle>

<div class="d-flex aligm-items-center mt-3">
    <h1 class="">All Contacts</h1>
    <a href="contacts/create" class="ms-auto btn btn-primary rounded-pill">New Contact</a>

    <ul>
        @foreach(ContactDTO contact in contacts)
        {
            <li>
                <img height="30" src="@contact.ImageUrl" />
                @contact.FullName
            </li>
        }
    </ul>
</div>



@code {
    #region parameter
    #endregion


    #region state
    private IEnumerable<ContactDTO> contacts = [];


    #endregion



    #region methods
    protected override async Task OnInitializedAsync()
    {
        //get userid from the authstate
        //make the getcontactasync
        //make repo method
        //add those to the interface

     //   contacts = await ContactService.GetContactsAsync(userId);
    }

    #endregion
}
