<div class="footer p-3" data-bs-theme="dark">
    <div class="container-xxl text-body">
        <div class="row row-cols-1 row-cols-md-3 align-items-center">
            <div class="col order-last order-md-first text-center text-md-start">
                <div class="vstack gap-2">
                    <span >Built by: <img src="/img/mark_dark.svg" height="30" /></span>
                    <span>&copy; @DateTime.Now.Year</span>
                </div>
            </div>
            @*must change logo*@
            <div class="col text-center">
                <img src="/img/signature_dark.svg" height="60"/>
            </div>
            <div class="col text-center text-md-end">
                <div class="vstack">
                    <div>
                        <a href="#"><i class="bi bi-linkedin"></i></a>
                        <a href="#"><i class="bi bi-twitter"></i></a>
                        <a href="#"><i class="bi bi-github"></i></a>
                    </div>
                    <div class="small">
                        <a href="#">Portfolio</a>
                        &bull;
                        <a href="#">Blog</a>
                        &bull;
                        <a href="#">Bug Tracker</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@code {

}
